.git
.venv
__pycache__
*/__pycache__
.mimocode
data
docs
kaggle
outputs
streamlit-app
tmp_trainer
*.pyc
*.log
aj_reviews_export.jsonl
aj_reviews_export.jsonl.zip
model/rubert-base-cased
model/rubert-sentiment-gpu1
model/rubert-sentiment-gpu2
model/rubert-sentiment-v2
model/ruroberta-sentiment
model/ruroberta-sentiment-5class-len64
model/ruroberta-sentiment-5class-len96
model/ruroberta-sentiment-5class-len192
!model/ruroberta-sentiment-5class
!model/ruroberta-sentiment-5class/**
